@font-face {
    font-family: 'Simditor-R';
    src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAdIAAsAAAAABvwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIF3mNtYXAAAAFoAAAAhAAAAITKKHN7Z2FzcAAAAewAAAAIAAAACAAAABBnbHlmAAAB9AAAAsgAAALI53Lb32hlYWQAAAS8AAAANgAAADYKbAGoaGhlYQAABPQAAAAkAAAAJAeYA8xobXR4AAAFGAAAACwAAAAsIgADmGxvY2EAAAVEAAAAGAAAABgCmANabWF4cAAABVwAAAAgAAAAIAAPADhuYW1lAAAFfAAAAaoAAAGqiaRHVXBvc3QAAAcoAAAAIAAAACAAAwAAAAMDwAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6PQDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEAGgAAAAWABAAAwAGAAEAIOFa4WbiQ+K84xPohOj0//3//wAAAAAAIOFa4WbiQ+K84xPohOj0//3//wAB/+Meqh6fHcMdSxz1F4UXFgADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQBCAQEDqgKBABYAAAE3ESE3LgEjIg4CByc+AzMyHgIDEpj+gJwtcD85Z1U+EWQWUm+HSitRS0QB55r+gJolKyM+VjMgQnFSLxAcKQAAAAABAFYBAQO+AoEAFgAAATIeAhcHLgMjIgYHFyERFz4DAhZKhm9SF2QQP1VnOT9wLZz+gJgdREtRAlUvUnFCIDNWPiMrJZoBgJoZKRwQAAAAAAEAqgABA4ADVQAfAAABMxEhERQGKwEiJjURITUjFRQGIyEiJj0BNDYzITIWFQMAgP6qGBJWEhgBqioYEv4AEhoaEgIAEhgDAf6q/oASGBgSAdaqKhIaGhKqEhgYEgAAAAEAVgCAA6oCVgA1AAATNDc2MyEyFxYVFAcGIyEiJyY1NDc2MyEVISIVFDMhMjc2NTQnJiMhIgcGFRQXFjMhFSEiJyZWRERiAcBGMjIyMkb+liwgICAgLAFA/rwSEgFuIhoaGhoi/kA+LCwsLD4Blv5qYkREAWpiRUUzM0ZGMjIfHywsICBWFRUZGSIiGhosLD4+KytWREQAAQEAAPYDAAIyAAUAAAEXNxcJAQE8xMQ8/wD/AAIyxMQ8/wABAAAAAAIA1gAqAyoDAAADAAoAADchFSEJAjMRIRHWAlT9rAJU/tb+1qoBAIBWAdb+1gEqAQD/AAADACoAawPWAusACwAfADMAAAEyFhUUBiMiJjU0NhMyPgI1NC4CIyIOAhUUHgITMh4CFw4DIyIuAic+AwIANExLNTRMSzUsTjoiIjpOLCxOOiIiOk4sUJJ7XRwcXXuSUFCSe10cHF17kgIrTDQ1S0s1NEz+qiE6Ti0sTjoiIjpOLC1OOiECFi9VdkZHdVUvL1V1R0Z2VS8AAAEAAAABAAA8NrfhXw889QALBAAAAAAA07veqwAAAADTu96rAAAAAAPWA1UAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAAA9YAAQAAAAAAAAAAAAAAAAAAAAsEAAAAAAAAAAAAAAACAAAABAAAQgQAAFYEAACqBAAAVgQAAQAEAADWBAAAKgAAAAAACgAUAB4ARgBuAJ4A6gD+ARgBZAABAAAACwA2AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEACgAAAAEAAAAAAAIABwB7AAEAAAAAAAMACgA/AAEAAAAAAAQACgCQAAEAAAAAAAUACwAeAAEAAAAAAAYACgBdAAEAAAAAAAoAGgCuAAMAAQQJAAEAFAAKAAMAAQQJAAIADgCCAAMAAQQJAAMAFABJAAMAAQQJAAQAFACaAAMAAQQJAAUAFgApAAMAAQQJAAYAFABnAAMAAQQJAAoANADIU2ltZGl0b3ItUgBTAGkAbQBkAGkAdABvAHIALQBSVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwU2ltZGl0b3ItUgBTAGkAbQBkAGkAdABvAHIALQBSU2ltZGl0b3ItUgBTAGkAbQBkAGkAdABvAHIALQBSUmVndWxhcgBSAGUAZwB1AGwAYQByU2ltZGl0b3ItUgBTAGkAbQBkAGkAdABvAHIALQBSRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="simditor-r-icon-"], [class*=" simditor-r-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Simditor-R' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.simditor-r-icon-attachment:before {
    content: "\e2bc";
}
.simditor-r-icon-arrow_down:before {
    content: "\e313";
}
.simditor-r-icon-download:before {
    content: "\e884";
}
.simditor-r-icon-eye:before {
    content: "\e8f4";
}
.simditor-r-icon-format_paint:before {
    content: "\e243";
}
.simditor-r-icon-redo:before {
    content: "\e15a";
}
.simditor-r-icon-undo:before {
    content: "\e166";
}
