@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y1tzrx');
  src:  url('fonts/icomoon.eot?y1tzrx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y1tzrx') format('truetype'),
    url('fonts/icomoon.woff?y1tzrx') format('woff'),
    url('fonts/icomoon.svg?y1tzrx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e000";
}
.icon-error2:before {
  content: "\e001";
}
.icon-call:before {
  content: "\e03f";
}
.icon-email:before {
  content: "\e04c";
}
.icon-forum:before {
  content: "\e04d";
}
.icon-add:before {
  content: "\e069";
}
.icon-add_circle:before {
  content: "\e06b";
}
.icon-archive:before {
  content: "\e06d";
}
.icon-create:before {
  content: "\e074";
}
.icon-inbox:before {
  content: "\e07a";
}
.icon-send:before {
  content: "\e087";
}
.icon-access_alarm:before {
  content: "\e08c";
}
.icon-insert_invitation:before {
  content: "\e0e9";
}
.icon-insert_photo:before {
  content: "\e0eb";
}
.icon-broken_image:before {
  content: "\e142";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-photo_camera:before {
  content: "\e1a4";
}
.icon-layers:before {
  content: "\e1d3";
}
.icon-arrow_back:before {
  content: "\e200";
}
.icon-arrow_drop_down:before {
  content: "\e201";
}
.icon-arrow_drop_up:before {
  content: "\e203";
}
.icon-cancel:before {
  content: "\e205";
}
.icon-check:before {
  content: "\e206";
}
.icon-chevron_left:before {
  content: "\e207";
}
.icon-chevron_right:before {
  content: "\e208";
}
.icon-close:before {
  content: "\e209";
}
.icon-keyboard_control:before {
  content: "\e20f";
}
.icon-more_vert:before {
  content: "\e210";
}
.icon-event_busy:before {
  content: "\e21b";
}
.icon-notifications:before {
  content: "\e24a";
}
.icon-people:before {
  content: "\e251";
}
.icon-person:before {
  content: "\e253";
}
.icon-share:before {
  content: "\e25a";
}
.icon-check_box:before {
  content: "\e25c";
}
.icon-check_box_outline_blank:before {
  content: "\e25d";
}
.icon-radio_button_unchecked:before {
  content: "\e25e";
}
.icon-radio_button_checked:before {
  content: "\e25f";
}
.icon-star:before {
  content: "\e260";
}
.icon-star_outline:before {
  content: "\e262";
}
.icon-account_circle:before {
  content: "\e268";
}
.icon-check_circle:before {
  content: "\e281";
}
.icon-dashboard:before {
  content: "\e286";
}
.icon-delete:before {
  content: "\e287";
}
.icon-description:before {
  content: "\e288";
}
.icon-done_all:before {
  content: "\e28b";
}
.icon-list:before {
  content: "\e2aa";
}
.icon-power_settings_new:before {
  content: "\e2c0";
}
.icon-restore:before {
  content: "\e2c7";
}
.icon-settings2:before {
  content: "\e2cb";
}
.icon-settings_backup_restore:before {
  content: "\e2cd";
}
.icon-spellcheck:before {
  content: "\e2e1";
}
.icon-thumb_up:before {
  content: "\e2ee";
}
.icon-view_carousel:before {
  content: "\e2fd";
}
.icon-visibility:before {
  content: "\e306";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-place:before {
  content: "\e55f";
}
.icon-domain:before {
  content: "\e7ee";
}
.icon-pages:before {
  content: "\e7f9";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-ic_move_to_box_black_24px:before {
  content: "\e900";
}
.icon-ic_kanban_black_24px:before {
  content: "\e901";
}
.icon-ic_inbox_black_24px:before {
  content: "\e902";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}

